<nav data-behavior="animated-navbar" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid col-md-10 col-md-offset-1">
    <div class="navbar-header">
      <%= link_to root_path, class: "navbar-brand", id: "logo" do %>
        <%= image_tag('logo.png', height: 50, alt: "Plumaa") %>
      <% end %>
    </div>
    <ul class="nav navbar-nav filter-links">
      <li>
        <% if user_signed_in? %>
          <a href="<%= root_path %>"><i class="plumaa-fonts fa fa-home"></i></a><!--Home -->
        <% else %>
          <a href="<%= root_path %>"><i class="plumaa-fonts fa fa-bullhorn"></i></a><!--Staff picks -->
        <% end %>
      </li>
      <li><a href="<%= top_stories_path %>"><i class="plumaa-fonts fa fa-trophy"></i></a></li><!--Trending -->
      <li><a href="<%= dashboard_bookmarks_path %>"><i class="plumaa-fonts fa fa-paperclip fa-flip-horizontal"></i></a></li><!--Bookmarks -->
      <li><a href="<%= new_post_path %>"><i class="plumaa-fonts fa fa-pencil"></i></a></li><!--Bookmarks -->  
    </ul>

    <div class="folding-nav">
      <ul class="nav navbar-nav navbar-right">
        <li class="main-searchbar">
          <%= react_component('SearchContainer') %>
        </li>
        <% if user_signed_in? %>
          <li id="notifications">
            <%= react_component('NotificationsContainer', {}) %>
          </li>
          <%= render 'layouts/avatar_dropdown' %>
        <% else %>
          <li class="new-post-button"><%= link_to "Share a story", new_post_path, class: "button", data: { behavior: 'trigger-overlay' } %></li>
          <li class="sign-in-button"><%= link_to "Sign in / Sign up", new_user_session_path, class: 'button green-border-button', data: { behavior: 'trigger-overlay' } %></li>
        <% end %>
      </ul>
    </div>

  </div>
</nav>
